.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App button, input {
  font-size: x-large;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}

.App button:focus, input:focus {
  outline: none;
  background-color: azure;
}

input.invalid {
  background-color: mistyrose;
}

.part-list {
  width: 970px;
  height: 880px;
  margin: 20px auto auto auto;
  padding: 0px;
}

.part-card {
  width: 180px;
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}
