.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App button, input {
  font-size: x-large;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}

.App button:focus, input:focus {
  outline: none;
  background-color: azure;
}

input.invalid {
  background-color: mistyrose;
}

.brick-list table {
  list-style: none;
  padding: 0px;
  font-size: x-large;
  width: 100%;
  border-collapse: collapse;
}

.brick-list {
  width: 400px;
  margin: 20px auto 10px auto;
  padding: 0px;
}

.brick-list td,th {
  border-bottom: 1px solid;
}
