.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App button, input {
  font-size: x-large;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}

.App button:focus, input:focus {
  outline: none;
  background-color: azure;
}

input.invalid {
  background-color: mistyrose;
}

.part-list {
  width: 970px;
  height: 880px;
  margin: 20px auto auto auto;
  padding: 0px;
}

.part-card {
  width: 180px;
  height: 220px;
  float: left;
  margin: 10px;
  padding: 10px;
  
  text-align: left;
  
  border: 1px solid black;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-part-modal {
  /* display: block; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.new-part-content {
  width: 512px; /* drop-zone.width + (drop-zone.border+drop-zone.margin)*2 */
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #888;
  border-radius: 8px;
  text-align: left;
  position: relative;
}

.new-part-dropzone {
  width: 500px;
  height: 500px;
  margin: 4px;
  border: 2px dashed #888;
  border-radius: 8px;
  text-align: center;
}

.new-part-close {
  position: absolute;
  top: -10px;
  left: 534px;
  width: 30px;
  height: 30px;
  background-color: mistyrose;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  font-weight: bold;
}

.new-part-add {
  float: right;
  vertical-align: bottom;
}
